div#blog > h1 {
text-align:center;

}
div#login {   
width; 300px;
    margin:auto;
    top: 50%;
    left:50%;
    
box-shadow:  0 0 10px rgba(0,0,0,0.4);
   // transfform ()
}
div#articles {
    margin: 0 5%:
    
}
div#article {
    border-bottom:2px solid:black;
    
    
}


